.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    width: 120%;
}

.sidebar {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
    background-image: url("/home/antonio/repos/sign-up-form/pexels-danielabsi-952670.jpg");
    background-size: auto;
    min-width: 100px;
    max-width: 500px;
}


.sidebar:before {
    background-image: url("/home/antonio/repos/sign-up-form/odin-lined.png");
    width: 50%;
    height: 200px;
}


.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -10px;
    margin-right: -1000px;
    background-color: lightgrey;
    min-width: 600px;
    margin-bottom: -10px;


}

.form-header { 
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10%;
    justify-content: center;
    font-size: 1.5rem;
    padding: 50px;
    align-items: center;
    text-align: center;

}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 185, 187);
}

.form-line-1 {
    display: flex;
    flex-direction: row;
}

.form-line-2 {
    display: flex;
    flex-direction: row;
}

.form-line-3 {
    display: flex;
    flex-direction: row;
}

input {
    padding: 5px;
    border-radius: 7px;
    background-color: white;
}

label {
    color: black;

}

p[id$="form"] {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight: bold;
}

#p1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-footer {
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100%;
    background-color: gray;
}

.form-container {
    display: flex;
    width: 70%;
    background-color: gray;
}

button {
    display: flex;
    width: 150px;
    padding: 10px;
    height: 40%;
    background-color: lightslategray;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: white;
}

a {
    text-decoration: none;
    color: darkgreen;
}

#odin {
  display: flex;
  height: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 63%;
}



